/** @format */

body {
  background-color: black;
  background-image: url("madhumathi/repos/SoundBox/backgroundimage");
}

.button_container {
  cursor: pointer;
  background-color: black;

  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button_container_elements {
  background-color: orange;
  box-shadow: 2px 2px aqua;
  border-radius: 0.5rem;
  height: 60px;
  width: 60px;
}
